.header {
    padding: 14px 60px;
    height: 120px;
}

.header__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_menu_mobile {
    display: none;
}

.header__block_title {
    font-size: 30px;
    line-height: 60px;
}

.header__block_title_mobile {
    display: none;
    font: 24px/1 'OpenSans Bold', sans-serif;
}

.header__block_singup,
.header__block_bag {
    font: 12px/1 'Roboto', sans-serif;
    display: inline-block;
}

.header__block_singup {
    margin-right: 50px;
}

.header__block_bag {
    transition: transform .5 linear;
}

.header__block_bag:hover {
    transform: scale(1.05);
}

.header__block_bag .fa-shopping-bag {
    margin-right: 15px;
}

#bag_counter::before {
    content: "(";
}

#bag_counter::after {
    content: ")";
}

.header__block_nav {
    width: 81.4%;
}

.header__block_nav ul {
    display: flex;
    justify-content: space-between;
}

.header__block_nav ul>li {
    display: inline-block;
}

.header__block_nav ul>li a {
    font: 13px/1 'OpenSans bold', sans-serif;
}

.header__block_nav ul>li a:hover {
    color: #f14a58;
}

.header__block_search {
    position: relative;
    width: 120px;
    vertical-align: middle; 
    white-space: nowrap;
}

.header__block_search_input {
    width: 100%;
    height: 35px;
    border: 0;
    outline: 0;
    border-bottom: 2px solid #e5e5e5;
    z-index: 1;
}

.header__block_search_input::-webkit-input-placeholder {
    font: 13px/1 'OpenSans', sans-serif;
    color: #a8a8a8;
}

.header__block_search_input:-ms-input-placeholder {
    font: 13px/1 'OpenSans', sans-serif;
    color: #a8a8a8;
}

.header__block_search_input:-moz-placeholder {
    font: 13px/1 'OpenSans', sans-serif;
    color: #a8a8a8;
}

.header__block_search .fa-search {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -7px;
    font-size: 12px;
    color: #a9a8a8;
}

@media screen and (max-width: 1024px) {
    .header {
        padding: 14px 40px;
        height: 120px;
    }

    .header__block_nav {
        width: 90%;
    }

    .header__block_nav_wrapper {
        position: relative;
        height: 35px;
    }

    .header__block_search {
        /* position: absolute; */
        position: relative;
        right: 0;
        width: 50px;
        height: 35px;
        -webkit-transition: width .55s ease;
        -moz-transition: width .55s ease;
        -ms-transition: width .55s ease;
        -o-transition: width .55s ease;
        transition: width .55s ease;
    }

    .header__block_search_input {
        display: none;
        width: 100%;
    }

    .header__block_search_input.active {
        display: block;
    }

    .header__block_search.active {
        position: absolute;
        top: 0;
        right: 0;
        width: 250px;
        box-shadow: -30px 0 14px #ffffff;
    }
}

@media screen and (max-width: 767px) {
    .header {
        display: flex;
        justify-content: space-between;
        height: 70px;
        padding: 0;
    }

    .header__block {
        width: 85%;
        padding: 25px 20px;
    }

    .header__block_bag .fa-shopping-bag {
        margin-right: 10px;
    }

    .header__block_search {
        display: none;
        position: absolute;
    }

    .header__block_nav_wrapper.active_list {
        display: block;
        z-index: 999;
        background-color: #ffffff;
    }

    .header__block_nav_wrapper {
        display: none;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        height: 600px;
        padding: 0;
        border-top: 1px solid #e5e5e5;
        border-bottom: 1px solid #e5e5e5;
    }

    .header__block_nav {
        width: 100%;
    }

    .header__block_nav ul {
        display: block;
        padding-top: 12px;
    }

    .header__block_nav ul>li {
        display: block;
    }

    .header__block_nav ul>li>a {
        display: block;
        padding: 17px 0 17px 20px;
        font: 24px/1 'OpenSans bold', sans-serif;
    }

    .header__block_title {
        display: none;
    }

    .header__block_title_mobile {
        display: block;
    }

    .header__block_singup {
        display: none;
    }

    .header_menu_mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 15%;
        height: 100%;
        border-left: 1px solid #e5e5e5;
        cursor: pointer;
    }
    
    .header_menu_bar {
        width: 14px;
        height: 2px;
        background-color: #000000;
        margin: 2px 0;
        transition: 0.4s;
    }

    .cross {
        border: none;
    }

    .cross .header_menu_bar_1 {
        background-color: #f14a58;
        -webkit-transform: rotate(-45deg) translate(-5px, 3px);
        transform: rotate(-45deg) translate(-5px, 3px);
    }
      
    .cross .header_menu_bar_2 {opacity: 0;}
      
    .cross .header_menu_bar_3 {
        background-color: #f14a58;
        -webkit-transform: rotate(45deg) translate(-5px, -4px);
        transform: rotate(45deg) translate(-5px, -4px);
    }

    .header__block_search,
    .header__block_search_input {
        display: block;
    }

    .header__block_search {
        width: 170px;
        left: 0px;
        margin: 50px 0 25px 20px;
    }
}