/* --------------------- ***** FONTS ***** ------------------ */
@font-face {
    font-family: 'OpenSans bold';
    src: url('../fonts/opensans-bold-webfont.eot');
    src: url('../fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
        url('../fonts/opensans-bold-webfont.woff') format('woff'),
        url('../fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans Semibold';
    src: url('../fonts/opensans-semibold-webfont.eot');
    src: url('../fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-semibold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-semibold-webfont.woff') format('woff'),
         url('../fonts/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
        url('../fonts/opensans-regular-webfont.woff') format('woff'),
        url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto bold';
    src: url('../fonts/roboto-bold-webfont.eot');
    src: url('../fonts/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/roboto-bold-webfont.woff2') format('woff2'),
        url('../fonts/roboto-bold-webfont.woff') format('woff'),
        url('../fonts/roboto-bold-webfont.svg#robotobold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto-regular-webfont.eot');
    src: url('../fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
        url('../fonts/roboto-regular-webfont.woff') format('woff'),
        url('../fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* ---------------------------------------------------------- */

/* -------------------- DEFAULT SETTINGS -------------------- */
* {
    box-sizing: border-box;
}

body {
    /* font: 12px 'Roboto', sans-serif; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'OpenSans Bold', sans-serif;
    margin: 0;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    cursor: pointer;
}

.section__newArrivals,
.section__catalogItems,
.section__shoppingBag_people_card,
.section__shoppingBag_total,
.section__item {
    max-width: 1180px;
    margin: 0 auto;
}

.button {
    display: block;
    width: 340px;
    height: 70px;
    padding: 0;
    margin: 0 auto;
    background: none;
    color: #000000;
    border: 1px solid #e5e5e5;
    transition: all .5s ease;
    /* transition: color 1s, border 1s; */
}

/* TODO: BORDER ON ACTIVE */
.button:hover,
.button:active,
.button:focus {
    cursor: pointer;
    color: #f14a58;
    border: 1px solid #f14a58;
}

.button_text {
    font: 20px/1 'OpenSans bold', sans-serif;
    letter-spacing: .05em;
}

i:hover {
    cursor: pointer;
}
/* ---------------------------------------------------------- */

/* ---------------- DROPDOWN START -------------------- */
.dropdown-menu ul {
    display: flex;
    justify-content: space-around;
}

.dropdown-menu ul > li {
    width: 16.66%;
    /* padding: 20px; */
    /* height: 65px; */
    border: 1px solid #e5e5e5;
}

.dropdown-menu ul > li + li {
    border-left: none;
    /* text-align: center; */
}

.dropdown-menu ul > li > a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 20px;
    font: 16px/1 'OpenSans Bold', sans-serif;
}

.dropdown-menu ul > li > a > .fa-sort-down {
    float: right;
}

.dropdown-menu li > .dropdown-content {
    display: none;
    position: absolute;
    width: inherit;
    border: 1px solid #e5e5e5;
    background-color: #ffffff; 
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.dropdown-menu .dropdown-content > a {
    font: 12px/1 'OpenSans Bold', sans-serif;
    padding: 15px 0 15px 20px;
    display: block;
}

.dropdown-menu .dropdown-content > a:hover {
    color: #f14a58;
    background-color: #f7f7f7;
}

.dropdown-menu .dropdown:hover .dropdown-content {
    display: block;
  }
/* ---------------- DROPDOWN END ----------------------- */
/* --------------- SECTION BANNERS START -------------------- */
.section__banners {
    display: flex;
    max-width: 1300px;
    margin: 0 auto;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5; 
}

.section__banners > div + div {
    border-left: 1px solid #e5e5e5;
}

.section__banners__nike_wrapper,
.section__banners__capsNhats_wrapper {
    /* width: 50%; */
}

.section__banners a {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}

.section__banners img {
    /* width: inherit; */
    height: inherit;
} 

.section__banner_description {
    position: absolute;
    top: 15%;
    right: 13%;
    z-index: 100;
}

.section__banner_description_title {
    font-size: 28px;
}

.section__banner_description_fiture {
    font: italic 16px/1 "Times New Roman";
    margin-top: 14px;
    color: #757575;
    text-align: center;
}

.section__banners_nike_image {
    -webkit-filter: grayscale(15%) contrast(120%);
            filter: grayscale(15%) contrast(120%);
}

.section__banners__sale_wrapper.sale_hidden {
    display: none;
}

.section__banners_block_item_text {
    position: absolute;
    top: 72%;
    width: 100%;
    text-align: center;
    color: #ffffff;
}

.section__banners_block_item_text_title {
    font: 28px/1 'OpenSans Bold', sans-serif;
    letter-spacing: 0.03em;
    margin-bottom: 15px;
}

.section__banners_block_item_text_description {
    font: 14px/1 'Roboto', sans-serif;
    margin: 0 8px 0 4px;
}

.section__banner_description.sale_description {
    top: 65%;
    right: 50%;
    margin-right: -31px;
}

.section__banner_description_title_light,
.section__banner_description_fiture_light {
    color: #ffffff;
}

.section__banner_description_title.sale_title {
    text-align: center;
    color: #f14a58;
}

@media screen and (max-width: 1024px){
    .section__banners {
        width: 768px;
    }

    .section__banners > a {
        height: 250px;
    }

    .section__banners__nike_wrapper {
        width: 510px;
        height: 250px;
    }

    .section__banners__adidas_wrapper {
        width: 510px;
        height: 250px;
    }

    .section__banners__repair_wrapper {
        width: 255px;
        height: 250px;
    }

    .section__banners img {
        width: inherit;
    }

    .section__banner_description_title {
        font-size: 22px;
    }

    .section__banners__capsNhats_wrapper {
        display: none;
    }

    .section__banners__sale_wrapper.sale_hidden {
        display: block;
        width: 255px;
        height: 250px;
    }

    .section__banners__sale_wrapper.sale_visible {
        display: none;
    }

    .section__banners_block_item_text_title {
        font-size: 22px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 767px) {
    .section__banners {
        width: 368px;
    }

    .section__banners__nike_wrapper {
        width: 375px;
        height: 238px;
    }

    .section__banners__sale_wrapper.sale_hidden {
        display: none;
    }

    .section__banners__adidas_wrapper {
        width: 368px;
        height: 238px;
    }
}
/* ---------------- SECTION BANNERS END --------------------- */

/*---------------  SECTION NEW ARRIVALS START ---------------- */
.section__newArrivals_h1 {
    margin: 130px 0 100px;
    text-align: center;
}

.section__newArrivals_button {
    margin: 15px auto 80px;
}

@media screen and (max-width:1024px) {
    .section__newArrivals {
        padding: 0 40px;
    }

    .section__newArrivals_h1 {
        margin: 100px 0 80px;
    }

    .section__newArrivals .person_card {
        margin-bottom: 70px;
    }

    .section__newArrivals .person_card_4 {
        display: none;
    }

    .section__newArrivals_button {
        width: 300px;
        margin: 5px auto 135px;
    }

    .section__newArrivals_name {
        margin: 40px auto 15px;
    }
}

@media screen and (max-width:767px) {
    .section__newArrivals .person_card_3 {
        display: none;
    }

    .section__newArrivals {
        padding: 0 20px;
    }

    .section__newArrivals_h1 {
        margin: 60px auto 45px;
    }

    .section__newArrivals_button {
        width: 220px;
        height: 60px;
        margin: 0 auto 105px;
    }
}
/* -------------- SECTION NEW ARRIVALS END -------------------- */

/* -------------- SECTION CATALOG ITEMS START ------------------*/
.section__catalogItems {
    padding-top: 60px;
}

.section__catalogItems .person_card_13 {
    display: none;
}

.section__catalogItems_text {
    text-align: center;
    margin-bottom: 90px;
}

.section__catalogItems_text_firstRow {
    font: 24px/34px 'OpenSans Bold', sans-serif
}

.section__catalogItems_text_secondRow {
    font: italic 16px/30px 'Times New Roman';
    margin-top: 10px;
}

.section__catalogItems_text_firstRow_extra {
    color: #f14a58;
}

.section__catalogItems_button {
    margin: 10px auto 155px
}

@media screen and (max-width: 1024px) {
    .section__catalogItems {
        padding: 40px 40px 0 40px;

    }

    .section__catalogItems .person_card_4 {
        display: none;
    }

    .section__catalogItems .person_card_13 {
        display: block;
    }

    .section__catalogItems_text_firstRow,
    .section__catalogItems_text_secondRow {
        width: 560px;
        margin: 0 auto;
    }

    .section__catalogItems_block_item_desktop_none {
        display: block;
        order: 0;
    }

    .section__catalogItems .person_card {
        margin-bottom: 100px;
    }

    .section__catalogItems_button {
        margin: -10px auto 135px;
    }
}

@media screen and (max-width: 767px) {
    .person_card_3,
    .person_card_9,
    .person_card_10,
    .person_card_11 {
        display: none;
    }

    .section__catalogItems .person_card {
        margin-bottom: 50px;
    }

    .section__catalogItems_button {
        margin: 20px auto 100px;
    }

    .section__banners.section__catalog_banner {
        height: 238px;
    }

    .section__catalog_banner .section__banners__repair_wrapper {
        display: none;
    }

    .section__catalogItems_text {
        margin-bottom: 70px;
    }

    .section__catalogItems_text_firstRow, 
    .section__catalogItems_text_secondRow {
        width: 270px;
    }

    .section__catalogItems_text_firstRow {
        font: 18px/30px 'OpenSans Bold', sans-serif;
        margin-bottom: 10px;
    }

    .section__catalogItems_text_secondRow {
        font: italic 14px/28px 'Times New Roman', sans-serif;
    }
}
/* -------------- SECTION CATALOG ITEMS END -------------------- */

/* -------------- SECTION SHOPPING BAG START ------------------- */
.section__shoppingBag_headline {
    padding: 15px 0 15px 90px;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5; 
}

.headline_text {
    font: 26px/1 'OpenSans Bold', sans-serif;
}

.section__shoppingBag_people_card {
    padding-top: 30px;
}

.section__shoppingBag_person_card.person_card {
    display: flex;
    width: 50%;
    margin-bottom: 90px;
}

.section__shoppingBag_block_price {
    font: 16px/1 'Roboto Bold', sans-serif;
    margin: 10px 0 30px;
}

.section__shoppingBag_block_name {
    width: 200px;
    font: 14px/24px 'Roboto bold', sans-serif;
}

.section__shoppingBag_block_remove_item {
    display: block;
    font: 13px/1 'OpenSans Bold', sans-serif;
    margin-top: 26px;
    color: #f14a58;
}

.section__shoppingBag_highlight {
    margin-top: 35px;
    padding: 15px 0;
    text-align: center;
    font: 12px/1 'OpenSans Bold', sans-serif;
    border-top: 1px solid #e5e5e5;
    background-color: #f7f7f7;
}

.section__shoppingBag_highlight_nextday {
    color: #f14a58;
}

.section__shoppingBag_total_empty {
    font: 13px/1 'Roboto Bold', sans-serif;
}

.section__shoppingBag_total {
    display: flex;
    align-items: center;
    padding: 30px 20px 60px;
}

.section__shoppingBag_total_cost {
    text-align: right;
}

.section__shoppingBag_total_cost_text {
    font: 12px/1 'Roboto', sans-serif;
    margin-bottom: 6px;
}

.section__shoppingBag_total_cost_price{
    font: 18px/1 'OpenSans Bold', sans-serif;
    letter-spacing: 0.05em;
}

.section_catalogItems_highlight_nextday {
    color: #f14a58;
}

@media screen and (max-width: 1024px) {
    .section__shoppingBag_headline {
        padding: 20px 0 20px 70px;
    }

    .headline_text {
        font-size: 20px;
    }

    .section__shoppingBag_people_card .person_card_image_wrapper {
        width: 145px;
        height: 205px;
    }

    .card_description {
        margin-left: 25px;
    }

    .section__shoppingBag_block_name {
        width: 122px;
        letter-spacing: 0.03em;
    }

    .section__shoppingBag_block_price {
        font-size: 14px;
        margin: 5px 0 15px;
    }

    .section__shoppingBag_block_remove_item {
        margin-top: 10px;
    }

    .section__shoppingBag_person_card.person_card.person_card_3,
    .section__shoppingBag_person_card.person_card.person_card_4 {
        margin: 0;
    }

    .section__shoppingBag_highlight {
        font-size: 11px;
        margin-top: 110px;
    }

    .section__shoppingBag_total {
        padding: 30px 40px 60px;
    }

    .section__shoppingBag_button {
        width: 260px;
    }

    .section__shoppingBag_total_cost_price {
        font-size: 16px;
    }
}

@media screen and (max-width: 767px) {
    .section__shoppingBag_headline {
        padding: 15px 0 15px 35px;
    }

    .headline_text {
        font-size: 18px;
    }

    .section__shoppingBag_people_card {
        padding-top: 15px;
    }

    .people_card_block {
        width: 375px;
    }

    .section__shoppingBag_people_card .person_card_image_wrapper {
        width: 158px;
        height: 223px;
    }

    .section__shoppingBag_person_card.person_card,
    .section__shoppingBag_person_card.person_card.person_card_3, 
    .section__shoppingBag_person_card.person_card.person_card_4 {
        width: 100%;
        margin-bottom: 42px;
    }

    .section__shoppingBag_block_name {
        font-size: 12px;
    }

    .section__shoppingBag_block_price {
        font-size: 14px;
    }

    .card_color, 
    .card_size, 
    .card_quantity {
        font-size: 10px;
        line-height: 20pxs;
    }

    .section__shoppingBag_block_remove_item {
        margin-top: 25px;
    }

    .section__shoppingBag_highlight {
        font-size: 10px;
        line-height: 20px;
        padding: 10px 25px;
        margin-top: 10px;
    }

    .section__shoppingBag_total {
        padding: 20px 20px 35px 20px;
    }

    .section__shoppingBag_total > div {
        width: 90px;
    }

    .section__shoppingBag_total_empty,
    .section__shoppingBag_total_cost_text {
        font-size: 10px;
    }

    .section__shoppingBag_button {
        width: 140px;
        height: 60px;
    }

    .button_text{
        font-size: 20px;
    }

    .section__shoppingBag_total_cost_price {
        font-size: 14px;
    }
}
/* ------------- SECTION SHOPPING BAG END ----------------- */

/* ------------- SECTION ITEM START ------------------------ */
.section__item_headline {
    padding: 20px 0 20px 90px;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

.section__item_headline_backto {
    font: 16px/1 'OpenSans Bold', sans-serif;
}

.section__item_headline_backto:hover {
    color: #f14a58;
}

.section__item {
    padding: 60px 0 160px;
}

.secion__item_block {
    display: flex;
}

.section__item_block_photos {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}

.section__item_block_info {
    padding: 25px 0 0 50px;
}

.section__item_block_info_name {
    font: 26px/1 'Roboto Bold', sans-serif;
}

.section__item_block_info_description {
    font: italic 16px/30px 'Times New Roman', sans-serif;
    margin-top: 20px; 
}

.section__item_block_info_description_hidden {
    visibility: hidden;
}

.section__item_block_info_price {
    font: 25px/1 'Roboto', sans-serif;
    margin: 50px 0 45px 0;
}

.section__item_block_info_options + .section__item_block_info_options {
    margin-top: 18px;
}

.section__item_block_info_options_button {
    width: 80px;
    height: 40px;
    border: 1px solid #fff;
    background-color: #fff;
}

.section__item_block_info_options_button + .section__item_block_info_options_button {
    margin-left: 30px;
}

.section__item_block_info_options_button:hover,
.section__item_block_info_options_button:active,
.section__item_block_info_options_button:focus {
    border: 1px solid #e5e5e5;
}

.section__item_block_info_options_text {
    display: inline-block;
    width: 75px;
    font: 12px/1 'Roboto', sans-serif;
}

.section__item_block_info_button {
    margin-top: 50px;
}

.section__item_block_info_button_text {
    font: 24px/1 'OpenSans Semibold', sans-serif;
}
/* -------------- SECTION ITEM END ------------------------- */