/* --------------------- ***** FONTS ***** ------------------ */
@font-face {
    font-family: 'OpenSans bold';
    src: url('../fonts/opensans-bold-webfont.eot');
    src: url('../fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
        url('../fonts/opensans-bold-webfont.woff') format('woff'),
        url('../fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
        url('../fonts/opensans-regular-webfont.woff') format('woff'),
        url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto bold';
    src: url('../fonts/roboto-bold-webfont.eot');
    src: url('../fonts/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/roboto-bold-webfont.woff2') format('woff2'),
        url('../fonts/roboto-bold-webfont.woff') format('woff'),
        url('../fonts/roboto-bold-webfont.svg#robotobold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto-regular-webfont.eot');
    src: url('../fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
        url('../fonts/roboto-regular-webfont.woff') format('woff'),
        url('../fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* ---------------------------------------------------------- */

/* -------------------- DEFAULT SETTINGS -------------------- */
* {
    box-sizing: border-box;
}

body {
    /* font: 14px/1 'Roboto', sans-serif; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'OpenSans Bold', sans-serif;
    margin: 0;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

i:hover {
    cursor: pointer;
}
/* ---------------------------------------------------------- */

/* -------------------------- HEADER ------------------------ */
.header {
    padding: 14px 60px;
    height: 120px;
}

.header__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__block_title {
    font-size: 30px;
    line-height: 60px;
}

.header__block_singup,
.header__block_bag {
    font: 12px/1 'Roboto', sans-serif;
    display: inline-block;
}

.header__block_singup {
    margin-right: 50px;
}

.header__block_bag .fa-shopping-bag {
    margin-right: 15px;
}

.header__block_bag_counter::before {
    content: "(";
}

.header__block_bag_counter::after {
    content: ")";
}

.header__block_nav {
    width: 81.4%;
}

.header__block_nav ul {
    display: flex;
    justify-content: space-between;
}

.header__block_nav ul>li {
    display: inline-block;
}

.header__block_nav ul>li a {
    font: 13px/1 'OpenSans bold', sans-serif;

}

.header__block_search {
    position: relative;
}

.header__block_search_input {
    width: 120px;
    padding: 7px 0;
    border: 0;
    outline: 0;
    border-bottom: 2px solid #e5e5e5;
}

.header__block_search_input::-webkit-input-placeholder {
    font: 13px/1 'OpenSans', sans-serif;
    color: #a8a8a8;
}

.header__block_search_input:-ms-input-placeholder {
    font: 13px/1 'OpenSans', sans-serif;
    color: #a8a8a8;
}

.header__block_search_input:-moz-placeholder {
    font: 13px/1 'OpenSans', sans-serif;
    color: #a8a8a8;
}

.header__block_search .fa-search {
    position: absolute;
    top: 10px;
    right: 5px;
    font-size: 12px;
    color: #a9a8a8;
}

@media screen and (max-width: 768px) {
    .header {
        padding: 14px 40px;
        height: 120px;
    }

    .header__block_nav {
        width: 90%;
    }

    /* TODO: MAKE COLLAPSED INPUT ABOVE ITEMS BY CLICK */
    .header__block_search_input {
        display: none;
        position: relative;
        top: -22px;
        right: 50px;
    }

    .header__block_search .fa-search {
        position: unset;
    }
}
/* ---------------------------------------------------------- */

/* --------------- SECTION BANNERS START -------------------- */
.section__banners {
    display: flex;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5; 
}

.section__banners > a {
    position: relative;
    height: 388px;
}

.section__banners__nike_wrapper,
.section__banners__capsNhats_wrapper {
    width: 50%;
}

.section__banners > a > div {
    height: inherit;
    width: 100%;
}

.section__banners_nike_image,
.section__banners_capsNhats_image {
    width: inherit;
    height: inherit;
} 

.section__banners__capsNhats {
    border-left: 1px solid #e5e5e5;
    background-color: #f7f7f7;
}

.section__banner_description {
    position: absolute;
    top: 15%;
    right: 15%;
    z-index: 999;
}

.section__banner_description_title {
    font-size: 28px;
}

.section__banner_description_fiture {
    font: italic 16px/1 "Times New Roman";
    margin-top: 14px;
    color: #757575;
    text-align: center;
}

.section__banners_nike_image {
    -webkit-filter: grayscale(15%) contrast(120%);
            filter: grayscale(15%) contrast(120%);
}

.section__banners__sale_wrapper {
    display: none;
}

.section__banner_description.sale_description {
    top: 65%;
    right: 50%;
    margin-right: -31px;
}

.section__banner_description_title.sale_title {
    text-align: center;
    color: #f14a58;
}

@media screen and (max-width: 768px) {
    .section__banners > a {
        height: 250px;
    }

    .section__banners__nike_wrapper {
        width: 67%;
        border-right: 1px solid #e5e5e5;
    }

    .section__banners__capsNhats_wrapper {
        display: none;
    }

    .section__banners__sale_wrapper {
        display: block;
        width: 33%;
    }

    .section__banners_nike_image {
        width: unset;
    }
}
/* ---------------- SECTION BANNERS END --------------------- */

/*---------------  SECTION NEW ARRIVALS START ---------------- */
.section__newArrivals {
    padding: 135px 60px 80px 60px;
}

.section__newArrivals h1 {
    font-size: 50px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 95px;
}

.section__newArrivals_rowPeople {
    display: flex;
    justify-content: space-between;
}

.section__newArrivals_rowPeople_card {
    width: 20%;
}

.section__newArrivals_image_wrapper {
    width: 100%;
    height: 340px;
    background-color: #f4f4f6;
}

.section__newArrivals_image_wrapper > img {
    width: 100%;
    height: inherit;
}

.section__newArrivals_price,
.section__newArrivals_name {
    text-align: center;
}

.section__newArrivals_name {
    width: 160px;
    font: 14px/24px 'Roboto bold';
    margin: 48px auto 20px;
    text-align: center;
}

.section__newArrivals_price {
    font: 14px/1 'Roboto';
}

.section__newArrivals_button {
    display: block;
    width: 300px;
    height: 70px;
    margin: 98px auto 0;
    background: none;
    border: 1px solid #e5e5e5;
}

/* TODO: BORDER ON ACTIVE */
.section__newArrivals_button:hover,
.section__newArrivals_button:active,
.section__newArrivals_button:focus {
    cursor: pointer;
    border: 1px solid #e5e5e5;
}

.section__newArrivals_button_text {
    font: 20px/1 'OpenSans bold', sans-serif;
    letter-spacing: .05em;
}

@media screen and (max-width: 768px) {
    .section__newArrivals {
        padding: 140px 40px 135px 40px;
    }

    .section__newArrivals h1 {
        font-size: 40px;
    }

    .person_card_4 {
        display: none;
    }

    .section__newArrivals_rowPeople_card {
        width: 30%;
    }

    .section__newArrivals_image_wrapper {
        height: 290px;
    }
}
/* -------------- SECTION NEW ARRIVALS END -------------------- */

/* ------------------- FOOTER START ---------------------------- */
.footer__block {
    display: flex;
    border-top: 1px solid #e5e5e5;
}

.footer__block_column {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 50%;
    padding: 55px 190px 100px 60px;
}

.footer__block_column+.footer__block_column {
    border-left: 1px solid #e5e5e5;
}

.footer__block_column_title {
    font: 16px/1 'OpenSans bold', sans-serif;
}

.footer_block_column_list {
    margin-top: 40px;
}

.footer_block_column_list>li>a {
    font: 14px/1 'Roboto', sans-serif;
    line-height: 40px;
}

.footer__block_column_questions,
.footer__block_column_phone {
    height: 55px;
}


.footer__block_column_text {
    font: 14px/1 'Roboto', sans-serif;
    margin-top: 18px;
}

.footer__block_column_text .fa-twitter {
    margin-right: 6px;
    color: #d7d7d7;
}

.footer__block_column_text_tweet {
    font-weight: 900;
}

.footer__block_description {
    width: 100%;
    height: 80px;
}

.footer__block_description_text {
    width: 310px;
    font: italic 16px/1.875 "Times New Roman";
    color: #757575;
}

.footer__block_social {
    width: 100%;
    height: 20px;
}

.footer__block_social i+i {
    margin-left: 25px;
}

.footer__block_social .fa-facebook-f {
    color: #315295
}

.footer__block_social .fa-twitter {
    color: #4bb8f0;
}

.footer__block_2 {
    height: 80px;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
}

.footer__block_copyright {
    font: 12px/1 'Roboto Bold', sans-serif;
}

.footer__block_share_text {
    font: 18px/1 'OpenSans bold', sans-serif;
}

.footer__block_share_talkBubble {
    display: inline-block;
    margin-left: 10px;
    padding: 5px 6px;
    background-color: #f4f4f4;
    position: relative;
}

.footer__block_share_talkBubble::before {
    content: "";
    position: absolute;
    right: 100%;
    top: 30%;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-right: 8px solid #f4f4f4;
    border-bottom: 5px solid transparent;
}

.footer__block_share_talkBubble_text {
    font: 12px/1 'Roboto', sans-serif;
}

.footer__block_privacy>ul>li {
    display: inline-block;
}

.footer__block_privacy>ul>li+li {
    margin-left: 35px;
}

.footer__block_privacy>ul>li a {
    font: 12px/1 'Roboto Bold', sans-serif;
}

@media screen and (max-width: 768px) {
    .footer__block_1 {
        justify-content: space-around;
    }

    .footer__block_column+.footer__block_column {
        border: none;
    }

    .footer__block_column {
        padding: 50px 60px 100px 40px;
    }

    .footer__block_column_1 {
        width: 60%;
    }

    .footer__block_column_2 {
        width: 40%;
    }

    .footer__block_column_phone {
        margin: 10px 0 60px 0;
    }

    .footer__block_description {
        display: none;
    }
    
    .footer__block_2 {
        padding: 0 40px;
    }

    .footer__block_share_text {
        font-size: 16px;
    }
}
/* --------------------- FOOTER END ------------------------------ */