<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dropdown</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/dropdown.css">
</head>

<body>
    <main>
        <div class="dropdown-menu">
            <ul>
                <li class="dropdown">
                    <a href="#" class="dropbtn">
                        <div class="dropbtn-name">
                            Fashion
                        </div>
                        <i class="fas fa-sort-down"></i>
                        <div class="selected-value"></div>
                    </a>
                    <div class="dropdown-content">
                        <a href="#">Not Selected</a>
                        <a href="#">Nail the 90s</a>
                        <a href="#">Casual style</a>
                        <a href="#">New Look</a>
                        <a href="#">Sport</a>
                        <a href="#">Vintage</a>
                        <a href="#">Classical style</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropbtn">
                        <div class="dropbtn-name">
                            Product type
                        </div>
                        <i class="fas fa-sort-down"></i>
                        <div class="selected-value"></div>
                    </a>
                    <div class="dropdown-content">
                        <a href="#">Not Selected</a>
                        <a href="#">Coats & Jackets</a>
                        <a href="#">Dresses</a>
                        <a href="#">Jersey Tops</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropbtn">
                        <div class="dropbtn-name">
                            Color
                        </div>
                        <i class="fas fa-sort-down"></i>
                        <div class="selected-value"></div>
                    </a>
                    <div class="dropdown-content">
                        <a href="#">Not Selected</a>
                        <a href="#">Black</a>
                        <a href="#">Blue</a>
                        <a href="#">Red</a>
                        <a href="#">Green</a>
                        <a href="#">Golden</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropbtn">
                        <div class="dropbtn-name">
                            Brand
                        </div>
                        <i class="fas fa-sort-down"></i>
                        <div class="selected-value"></div>
                    </a>
                    <div class="dropdown-content">
                        <a href="#">Not Selected</a>
                        <a href="#">Chi Chi London</a>
                        <a href="#">Antipodium</a>
                        <a href="#">Adidas</a>
                        <a href="#">New Balance</a>
                        <a href="#">River Island</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropbtn">
                        <div class="dropbtn-name">
                            Size
                        </div>
                        <i class="fas fa-sort-down"></i>
                        <div class="selected-value"></div>
                    </a>
                    <div class="dropdown-content">
                        <a href="#">Not Selected</a>
                        <a href="#">UK 2</a>
                        <a href="#">UK 18</a>
                        <a href="#">UK 18L</a>
                        <a href="#">UK 20</a>
                        <a href="#">UK 20L</a>
                        <a href="#">UK 20S</a>
                        <a href="#">UK 22S</a>
                        <a href="#">UK 22</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropbtn">
                        <div class="dropbtn-name">
                            Price range
                        </div>
                        <i class="fas fa-sort-down"></i>
                        <div class="selected-value"></div>
                    </a>
                    <div class="dropdown-content">
                        <a href="#">Not Selected</a>
                        <a href="#">To &pound;99</a>
                        <a href="#">&pound;100-&pound;299</a>
                        <a href="#">From &pound;300</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="dropdown-menu-tablet">
            <div class="dropdown-menu-titles">
                <span class="dropdown-menu-title dropdown-menu-title-fashion">Fashion</span>
                <span class="dropdown-menu-title dropdown-menu-title-productType">Product type</span>
                <span class="dropdown-menu-title dropdown-menu-title-color">Color</span>
                <span class="dropdown-menu-title dropdown-menu-title-brand">Brand</span>
                <span class="dropdown-menu-title dropdown-menu-title-size">Size</span>
                <span class="dropdown-menu-title dropdown-menu-title-price">Price range</span>
                <div class="dropdown-action">
                    <i class="fas fa-angle-down show"></i>
                    <i class="fas fa-times"></i>
                </div>
            </div>
            <div class="dropdown-content-tablet">
                <div class="dropdown-content-list">
                    <div class="dropdown-content-fashion fashion">
                        <div class="dropdown-content-list-title">Fashion</div>
                        <ul class="dropdown-content-list-items">
                            <li>Not selected</li>
                            <li>Nail the 90s</li>
                            <li>Casual style</li>
                            <li>New Look</li>
                            <li>Sport</li>
                            <li>Vintage</li>
                            <li>Classic style</li>
                        </ul>
                    </div>
                    <div class="dropdown-content-productType productType">
                        <div class="dropdown-content-list-title">Product type</div>
                        <ul class="dropdown-content-list-items">
                            <li>Not selected</li>
                            <li>Coats & Jackets</li>
                            <li>Dresses</li>
                            <li>Jersey Tops</li>
                        </ul>
                    </div>
                    <div class="dropdown-content-color color">
                        <div class="dropdown-content-list-title">Color</div>
                        <ul class="dropdown-content-list-items">
                            <li>Not selected</li>
                            <li>Black</li>
                            <li>Blue</li>
                            <li>Red</li>
                            <li>Green</li>
                            <li>Golden</li>
                        </ul>
                    </div>
                    <div class="dropdown-content-brand brand">
                        <div class="dropdown-content-list-title">Brand</div>
                        <ul class="dropdown-content-list-items">
                            <li>Not selected</li>
                            <li>Chi Chi London</li>
                            <li>Antipodium</li>
                            <li>Adidas</li>
                            <li>New Balance</li>
                            <li>River Island</li>
                        </ul>
                    </div>
                    <div class="dropdown-content-size size">
                        <div class="dropdown-content-list-title">Size</div>
                        <ul class="dropdown-content-list-items">
                            <li>Not selected</li>
                            <li>UK 2</li>
                            <li>UK 18</li>
                            <li>UK 18L</li>
                            <li>UK 20</li>
                            <li>UK 20S</li>
                            <li>UK 22s</li>
                            <li>UK 22</li>
                        </ul>
                    </div>
                    <div class="dropdown-content-price price">
                        <div class="dropdown-content-list-title">Price range</div>
                        <ul class="dropdown-content-list-items">
                            <li>Not selected</li>
                            <li>To &pound;99</span></li>
                            <li>&pound;100 - &pound;299</span></li>
                            <li>From &pound;300</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="../js/filter.js"></script>
</body>

</html>