<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Header</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
        crossorigin="anonymous">
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/header.css">
</head>

<body>
    <header class="header">
        <div class="header__block">
            <h1 class="header__block_title">Template</h1>
            <h1 class="header__block_title_mobile">TL</h1>
            <div class="header__block_singup_bag">
                <div class="header__block_singup">
                    <a href="#">E-mail sing up</a>
                </div>
                <div class="header__block_bag">
                    <i class="fas fa-shopping-bag"></i>
                    Bag
                    <span class="header__block_bag_counter">0</span>
                </div>
            </div>
        </div>
        <div class="header__block header__block_nav_wrapper">
            <nav class="header__block_nav">
                <ul>
                    <li><a href="">Women</a></li>
                    <li><a href="">Men</a></li>
                    <li><a href="">Handbags</a></li>
                    <li><a href="">Accessories</a></li>
                    <li><a href="">Sale</a></li>
                    <li><a href="">New Arrivals</a></li>
                    <li><a href="">Clearance</a></li>
                    <li><a href="">Store Locator</a></li>
                </ul>
            </nav>
            <div class="header__block_search">
                <input class="header__block_search_input" type="text" placeholder="Style Name">
                <i class="fas fa-search" id="search-icon"></i>
            </div>
        </div>
        <div class="header_menu_mobile">
            <div class="header_menu_bar header_menu_bar_1"></div>
            <div class="header_menu_bar header_menu_bar_2"></div>
            <div class="header_menu_bar header_menu_bar_3"></div>
        </div>
    </header>
    <script src="./js/header.js"></script>
</body>

</html>