<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Person Card</title>
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/personcard.css">
</head>

<body>
    <main>
        <section class="section__newArrivals">
            <div class="people_card_block">
                <div class="person_card person_card__1">
                    <div class="person_card_image_wrapper">
                        <a href="../item.html">
                            <img src="../img/catalog/catalog-photo-1.png" alt="CATALOG ITEM 3" class="person_card_image">
                            <div class="person_card_viewItem_background"></div>
                            <div class="person_card_viewItem_text">
                                View item
                            </div>
                        </a>
                    </div>
                    <div class="card_name">Only Skinny Jeans</div>
                    <div class="card_price">&pound;65.50</div>
                </div>
                <div class="person_card person_card_2">
                    <div class="person_card_image_wrapper">
                        <a href="../item.html">
                            <img src="../img/catalog/catalog-photo-2.png" alt="CATALOG ITEM 3" class="person_card_image">
                            <div class="person_card_viewItem_background"></div>
                            <div class="person_card_viewItem_text">
                                View item
                            </div>
                        </a>
                    </div>
                    <div class="card_name">Neck Knitted Jumper</div>
                    <div class="card_price">&pound;76.25</div>
                </div>
                <div class="person_card person_card_3">
                    <div class="person_card_image_wrapper">
                        <a href="../item.html">
                            <img src="../img/catalog/catalog-photo-3.png" alt="CATALOG ITEM 3" class="person_card_image">
                            <div class="person_card_viewItem_background"></div>
                            <div class="person_card_viewItem_text">
                                View item
                            </div>
                        </a>
                    </div>
                    <div class="card_name">Turtle Neck Jumper in Rib</div>
                    <div class="card_price">&pound;130.25
                        <span class="card_feature">New</span>
                    </div>
                </div>
                <div class="person_card person_card_4">
                    <div class="person_card_image_wrapper">
                        <a href="../item.html">
                            <img src="../img/catalog/catalog-photo-4.png" alt="CATALOG ITEM 3" class="person_card_image">
                            <div class="person_card_viewItem_background"></div>
                            <div class="person_card_viewItem_text">
                                View item
                            </div>
                        </a>
                    </div>
                    <div class="card_name">With Patchwork Crochet</div>
                    <div class="card_price">&pound;80.60</div>
                </div>
            </div>
        </section>
    </main>
</body>

</html>